.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  /* говорим по какому шаблону выстроены строки */
  grid-template-areas: 
/* первое значит что первая строка занимает 2 колонки */
    "h h"
    /* а контент займет вторую колонку */
    "n c";
  /* 2 строки */
  grid-template-rows: 60px 1fr;
  /* 2 колонки */
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content{
  grid-area: c;
  background-color: ghostwhite;

}
.app-wrapper-content img{
  height: 400px;
  width: 100%;
}