.dialogsAll {
  display: grid;
  grid-template-rows: 100% 1fr;
  grid-template-columns: 15% 20% 15%;
  text-decoration: none;
  grid-row-gap: 10em;
}
.dialogs {
  padding: 10px;
}
.dialogs .active {
  color: #2a60ca;
}
.dialogs a {
  text-decoration: none;
  color: black;
}
.messages {
  padding: 10px;
}
.time {
  padding: 10px;
}

.dialogs img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}




/*--------*/


/*img {*/
/*  margin-top: -90px;*/
/*  padding: 15px;*/
/*  position: absolute;*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  border-radius: 50px;*/
/*}*/

.container {
  width: 400px;
  padding: 40px;
}

.messageblue {
  position: relative;
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #A8DDFD;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px;
}


.messagecontent {
  padding: 0;
  margin: 0;
}

.messagetimestampright {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  right: 5px;
}

.messagetimestampleft {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  right: 5px;
}

.messageblue:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid #A8DDFD;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: -1px;
  left: -15px;
}

.messageblue:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid #A8DDFD;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: -1px;
  left: -15px;
}
















